.bg-image {
  /* The image used */
  background: url(/assets/images/bg25.png) no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow-y: scroll;
  background-position: center;
  background-repeat: no-repeat;
}
