.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100%;
  padding: 20px 0px;
}
.bg-image3 {
  background-image: url('/assets/images/bg3.png');
}
.bg-image7 {
  background-image: url('/assets/images/bg7.png');
}
.bg-image13 {
  background-image: url('/assets/images/bg13.png');
}
.bg-image14 {
  background-image: url('/assets/images/bg14.png');
}
.bg-image15 {
  background-image: url('/assets/images/bg15.png');
}
.bg-image25 {
  background-image: url('/assets/images/bg25.png');
}
.bg-image32 {
  background-image: url('/assets/images/bg32.png');
}
.bg-image34 {
  background-image: url('/assets/images/bg34.png');
}
.bg-image36 {
  background-image: url('/assets/images/bg36.png');
}
body {
  overflow-x: hidden;
}

.popup-direction {
  width: 800px;
}

@media only screen and (max-width: 768px) {
  .popup-direction {
    width: 100%;
    font-size: 0.875rem;
    height: 85vh;
  }
}
