.bg-image {
  background: url('/assets/images/bg34.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 20px;
}
.bg-image1 {
  background: url('/assets/images/bg32.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  overflow-y: auto;
  padding-top: 20px;
}
.bg-image2 {
  background: url('/assets/images/bg25.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  padding-top: 20px;
}
body {
  overflow-x: hidden;
}

.popup-direction {
  width: 800px;
}

@media only screen and (max-width: 768px) {
  .popup-direction {
    width: 100%;
    font-size: 0.875rem;
    height: 85vh;
  }
}
